.field
  = f.label :line1
  = f.text_field :line1

.field
  = f.label :line2
  = f.text_field :line2

.field
  = f.label :city
  = f.text_field :city

.field
  = f.label :state
  = f.text_field :state

.field
  = f.label :zip
  = f.text_field :zip
