%h1 New Invoice

= form_with scope: :invoice, url: invoices_path, class: 'ui form' do |f|
  - if @invoice.customer
    = f.hidden_field :customer_id, value: @invoice.customer.id
  = render partial: 'fields', locals: { f: f }
  = f.submit 'Create Invoice', class: 'ui button'

%p Line items which will be in this invoice:
= render partial: 'line_items', locals: { invoice: @invoice }
