%h2 Invoice #{@invoice.number}

%p= link_to 'View PDF', invoice_path(@invoice, format: :pdf), target: '_blank'

%p Date: #{@invoice.date}
%p Due Date: #{@invoice.due_date}

- if !@invoice.posted?
  = form_with url: post_invoice_path(@invoice) do |f|
    = f.submit 'Post'

= render partial: 'line_items', locals: { invoice: @invoice }

- unless @invoice.posted?
  = link_to 'New line item', new_invoice_line_item_path(@invoice), class: 'ui button'
