%h1= @task.subject

%p= link_to 'Edit', edit_task_path(@task)
%p= link_to 'Add hours', new_task_hour_path(@task)
%p #{@task.kind.titleize} - #{@task.state.titleize}

%p
  Estimated hours: #{@task.est_hours || 'N/A'}

%h4 Description
= simple_format @task.description

- if @task.hours.any?
  %h4 Hours

  %table
    %thead
      %tr
        %th Date
        %th Description
        %th Amount

    %tbody
      - @task.hours.find_each do |hour|
        %tr
          %td= hour.date
          %td= hour.description
          %td= hour.num

= form_with model: @hour, url: task_hours_path(task_id: @task.id), class: 'form' do |f|
  = render partial: 'hours/fields', locals: { f: f }
  = f.submit 'Record Time'
