%h1 Dashboard

%table
  %thead
    %tr
      %th/
      %th.right.aligned Unbilled Hours
      %th.right.aligned Open Tasks
      %th.right.aligned Projected Revenue

  %tbody
    - @customers.find_each do |customer|
      %tr
        %td= customer.name
        %td.right.aligned= @unbilled_hours[customer.id] || 0
        %td.right.aligned= customer.tasks.open.count
        %td.right.aligned= (@potential_revenue[customer.id] || Money.new(0, 'USD')).format

  %tfoot
    %tr
      %td Totals
      %td.right.aligned= @unbilled_hours.values.inject(:+)
      %td.right.aligned= @tasks
      %td.right.aligned= (@potential_revenue.values.inject(:+) || Money.new(0, 'USD')).format
