.field
  = f.label :name
  = f.text_field :name

.field
  = f.label :email
  = f.text_field :email

.field
  = f.label :default_hourly_rate_cents
  = f.text_field :default_hourly_rate_cents

.field
  = f.label :default_hourly_rate_currency
  = f.text_field :default_hourly_rate_currency

= f.fields_for :address do |addr_form|
  = render partial: 'addresses/fields', locals: { f: addr_form }
