%h1 Customers

%table
  %thead
    %tr
      %th Name
      %th Address
      %th.right.aligned # Projects
      %th/

  %tbody
    - @customers.each do |cust|
      %tr
        %td= link_to cust.name, edit_customer_path(cust)

        %td
          - if cust.address
            %p
              = cust.address.line1
              %br
              #{cust.address.city}, #{cust.address.state} #{cust.address.zip}
          - else
            No address

        %td.right.aligned
          = cust.projects.count

        %td
          = link_to 'Project Status PDF', project_status_customer_path(cust, format: :pdf), target: '_blank'

%p= link_to 'New customer', new_customer_path
