.field
  = f.label :name
  = f.text_field :name

.field
  = f.label :entity_id
  = f.select :entity_id, options_for_select(Entity.all.map { |ent| [ent.name, ent.id] })

.field
  = f.label :customer_id
  = f.select :customer_id, options_for_select(Customer.all.map { |cust| [cust.name, cust.id] })

.field
  = f.label :due_date
  = f.date_field :due_date

.field
  = f.label :default_hourly_rate_cents
  = f.text_field :default_hourly_rate_cents

.field
  = f.label :default_hourly_rate_currency
  = f.text_field :default_hourly_rate_currency

.field
  = f.label :billing
  = f.select :billing, options_for_select([['Monthly', :monthly], ['Lump Sum', :lump_sum]])
