%h1= @project.name

%p
  = link_to 'Archive', archive_project_path(@project)
  = link_to 'Edit', edit_project_path(@project)

%table
  %thead
    %tr
      %th For
      %th Hours Cap
      %th Billing
      %th Status
      %th Hours Cap
      %th Due Date
  %tbody
    %tr
      %td= @project.customer.name
      %td= @project.hours_cap_kind.titleize
      %td= @project.billing.titleize
      %td= @project.status.titleize
      %td= @project.hours_cap || '--'
      %td= @project.due_date || '--'

%p= @project.description

- if @project.estimates.any?
  %h3 Estimate and Change Orders

  %table
    %thead
      %tr
        %th Estimate
        %th Start
        %th Hours
        %th Straight-line Completion
        %th Estimated Completion
        %th/
        %th/

    %tbody
      - @project.estimates.each do |estimate|
        %tr
          %td= estimate.proper_name
          %td= estimate.start_date
          %td= estimate.hours.round(2)
          %td= estimate.straight_line_completion
          %td= estimate.estimated_completion
          %td= link_to 'Edit', edit_estimate_path(estimate)
          %td= link_to 'Finalize', finalize_estimate_path(estimate)
          %td= link_to 'PDF', estimate_path(estimate, format: :pdf)

%p= link_to 'New task', new_project_task_path(@project)

%h3 Open Tasks

%table
  %thead
    %tr
      %th Subject
      %th Description
      %th Kind
      %th State
      %th Act/Est
      %th/
      %th/
      %th/

  %tbody
    - @project.tasks.open.order(:subject).each do |task|
      %tr
        %td= link_to task.subject, task_path(task)
        %td= truncate(task.description)
        %td= task.kind
        %td= task.state.titleize
        %td #{task.hours.sum(:num)}/#{task.est_hours}
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Add hours', new_task_hour_path(task)
        %td
          = link_to 'Destroy',
            task_path(task),
            method: :delete,
            data: { confirm: 'Are you sure you want to remove this task?' }

%h3 Closed, unbilled

%table
  %thead
    %tr
      %th Subject
      %th Description
      %th Kind
      %th Act

  %tbody
    - @unbilled.find_each do |task|
      %tr
        %td= link_to task.subject, task_path(task)
        %td= truncate(task.description)
        %td= task.kind
        %td= task.hours.sum(:num)
