= f.label :name
= f.text_field :name

= f.label :email
= f.text_field :email

= f.label :default_hourly_rate_cents
= f.text_field :default_hourly_rate_cents

= f.label :default_hourly_rate_currency
= f.text_field :default_hourly_rate_currency
