!!!
%html
  %head
    %title Cebolla
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_importmap_tags

  %body
    %nav.top.container
      = link_to 'Dashboard', root_path
      = link_to 'Entities', entities_path
      = link_to 'Customers', customers_path
      = link_to 'Projects', projects_path
      = link_to 'Tasks', tasks_path
      = link_to 'Invoices', invoices_path

    - if flash.any?
      .container
        - flash.each do |kind, messages|
          %div{ class: "flash flash-#{kind}" }
            - if messages.is_a?(Array)
              %ul
                - messages.each do |msg|
                  %li= msg

            - else
              = messages

    .container
      = yield
