!!!
%html
  %head
    %title Cebolla
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.top.container
      = link_to 'Dashboard', root_path
      = link_to 'Entities', entities_path
      = link_to 'Customers', customers_path
      = link_to 'Projects', projects_path
      = link_to 'Invoices', invoices_path

    .container
      %p.notice= notice
      %p.alert= alert

    .container
      = yield
